.card {
  position: relative;
}

.star-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card-container{
  background-color: floralwhite;
}

.star-icon {
  width: 20px; /* Adjust size as needed */
}

.action-buttons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.action-button {
  width: 40px;
  height: 40px;
}

.plus-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 3;
  animation: slideIn 0.3s ease-out;
  max-height: 10%; /* yaha pop up ka size ho raha hai cover */
  overflow-y: hidden; 
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.upload-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
