.recommendations-container {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Five columns */
    gap: 20px;
    /* Adjust the gap between cards */
}

.recommendation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
}

.recommendation-card img {
    width: 80%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}