body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 53px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.points {
  background-color: #e09147;
  color: white;
  padding: 5px 15px;
  border-radius: 9px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.points-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}
